# Python caches
__pycache__/
*.py[cod]
*$py.class

# Local Virtual Environments
venv/
.venv/
env/

# IDE configurations
.vscode/
.idea/

# Docker local volume mapping caches (if any are created locally)
postgres_data/
redis_data/